@import "tailwindcss";

@theme {
  --color-bg-primary: #0f1115;
  --color-bg-secondary: #161a20;
  --color-bg-tertiary: #1d222b;
  --font-sans: var(--font-inter), var(--font-noto), sans-serif;
  --font-mono: var(--font-ibm-plex), monospace;
}

@layer base {
  body {
    background-color: #0f1115;
    color: #ffffff;
  }
}
